
/**********************
    Global Css
************************/

:root{
   --body-color: #E1D6C2;
   --text-color: #000;
   --input-bdr: #ddd;
   --black-color: #1F1F1F;
   --th-color: #012C3C;
   --white-color: #fff;
}
*{
    margin: 0;
    padding: 0;
}
body{
    font-size: 16px;
    color: var(--text-color);
    background-color: var(--body-color);
}
.container{
    max-width: 1140px;
    margin: 0 auto;
}
a{
    text-decoration: none;
}
h2{
    font-size: 40px;
}

ul{
    list-style-type: none;
}


/*********************
   Start  Contact Form Section Css
*****************************************/
.contactform-section{
    padding: 60px 0;
}
.contactform,
.table-wrapper{
    max-width: 600px;
    margin: 0 auto;
}
.contactform h2{
    margin: 10px 0;
}
.contactform label{
    font-size: 16px;
    font-weight: 600;
}

.contactform input:not([type="image" i], [type="range" i], [type="checkbox" i], [type="radio" i]) {
    width: 100%;
    padding: 15px;
    margin: 12px 0;
    border: 1px solid var(--input-bdr);
    border-radius: 4px;
}
.contactform input:focus-visible {
    outline-offset: 0px;
    outline: 0;
}
.dis-block{
    display: block;
    margin: 10px 0;
}
.contactform input[type="button" i]{
    font-size: 18px;
    text-transform: uppercase;
    cursor: pointer;
    color: var(--black-color);
    transition: .3s;
}
.contactform input[type="button" i]:hover{
    background-color: var(--th-color);
    color: var(--white-color);
}

/*********************
   End  Contact Form Section Css
****************************************/

/*********************
   Start Table Section Css
****************************************/

.table-section{
    margin: 60px 0;
}
.table-wrapper h2{
    margin: 20px 0;
}
.table-wrapper table{
    width: 100%;
}
.table-wrapper table, th, td{
    border: 1px solid var(--black-color);
    border-collapse: collapse;
    padding: 10px;
}
.table-wrapper tr th{
    font-size: 18px;
    font-weight: 600;
    color: var(--white-color);
    background-color: var(--th-color);
    text-align: center;
    text-transform: capitalize;
}
.table-wrapper table tr{
    text-align: center;
}


/*********************
   Start Table Section Css
****************************************/

